@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

@import './tokens.scss';
@import './reset.scss';

.section {
  padding: 0 30px;
}

.social-proof {
  margin: auto;

  &__header {
    font-size: 14px;
    text-align: center;
    line-height: 22px;
  }

  &__title {
    font-size: 28px;
    color: $color-text-primary-heading;
    line-height: 28px;
    margin-bottom: 24px;
    padding: 0 35px;
  }
}

}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 10px 0 5px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: $md-device) {
  .social-proof {
    &__header {
      text-align: left;
    }

    &__title {
      font-size: 56px;
      line-height: 56px;
      margin-bottom: 15px;
    }
  }
}

@media screen and (min-width: $lg-device) {
  .section {
    padding: 0;
    max-width: 1110px;
  }
}
